html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
  height: 100%;
}

a {
  color: #00a411;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header {
  background-color: #e6f5ee;
  padding: 20px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Lucida Sans Typewriter, mono;
  font-size: 32px;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
  &:hover {
    text-decoration: none;
  }

  img {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: green;
    width: 60px;
    margin: 0 15px;
    // #00a411 https://isotropic.co/tool/hex-color-to-css-filter/
    // filter: invert(37%) sepia(93%) saturate(1038%) hue-rotate(97deg) brightness(94%) contrast(108%);
  }
}

.nav-item {
  font-family: sans-serif;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #e6f5ee;
  overflow-x: hidden;
  padding: 0 40px;
  background-attachment: fixed;
  background-size: cover;

  .explore-more {
    position: absolute;
    bottom: 00px;
    left: 50%;
    transform:translateX(-50%);

    cursor: pointer;
    // #00a411 https://isotropic.co/tool/hex-color-to-css-filter/
    // filter: invert(37%) sepia(93%) saturate(90%) hue-rotate(97deg) brightness(194%) contrast(108%);
    filter: invert(90%) saturate(90%) sepia(93%) hue-rotate(93deg);
    img {
      width: 60px;
    }
  }
}

.grow {
  transition: all .2s ease-in-out; 
  &:hover { 
    transform: scale(1.1); 
  }
}

.hero section {
  padding: 0 5rem;
}

.hero h1 {
  font-weight: normal;
  font-size: 72px;
  margin-bottom: 0;
  color: #e6f5ee;
  text-shadow: 2px 2px 5px black;
}

.hero h2 {
  font-weight: normal;
  // color: #448866;
  // background: #e6f5ee;
  color: #e6f5ee;
  text-shadow: 2px 2px 5px black;
}

button {
  // background-color: #04AA6D;
  background-color: #00a411;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  // box-shadow: 2px 2px 5px #e6f5ee;
  border: 1px #e6f5ee;
}

main.home {
  padding-top: 30px;
}

main {
  padding-top: 130px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  min-height: calc(100vh - 212px);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #B5D2C4;
  padding: 0;
  max-width: 768px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: 80px;
  width: 100%;
  max-width: 768px;
  font-size: 14px;
  font-family: Lucida Sans Typewriter, mono;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #448866;
}

.person {
  float: left;
  width: 20vw;
  min-width: 120px;
  max-width: 150px;
  margin-right: 12px;

  img {
    width: 100%;
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    text-decorations: none;
    margin: 0;
    margin-bottom: 6px;
  }
}

hr {
  clear: both;
}

.pos-absolute {
  right: 0;
  left: 0;
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text {
  font-family: var(--text-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 28px;
    margin: 10px;
    text-align: center;

    img {
      width: 45px;
      margin: 0 10px 0 0;
    }
  }

  nav {
    padding: 5px 0;
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }

  .hero {
    padding: 0 20px;
  }

  .hero section {
      padding: 0 0;
  }

  main.home {
    padding: 30px 30px 0 30px;
  }

  main {
    padding: 130px 30px 0 30px;
  }

  .content {
    padding: 0;
  }
}
