{% extends "base.html" %}

{% block title %}
{{ page.title }} • {{ config.title }}
{% endblock title %}

{% block content %}
<main>
  <a href="..">{{ trans(key="back", lang=lang)}}</a><div class="text-right">
   {{ page.authors[0] }} ✍️ <br/>
   {{ page.date | date(format="%Y %B %e", locale=trans(key="locale", lang=lang))}} 📅 </div>
  <h2>{{ page.title }}</h2>
  {{ page.content | safe }}
</main>
{% endblock content %}
