{% extends "base.html" %}

{% block title %}
{{ section.title }} • {{ config.title }}
{% endblock title %}

{% block content %}
<main>
  {{ section.content | safe }}
  {% set now = now() | date(format="%s") | int() %}
  <h1>{{ trans(key="upcoming", lang=lang) }}</h1>
  {% for page in section.pages %}
  {% set date = page.date ~ "T" ~ page.extra.start ~ ":00Z" | date(format="%s") | int() %}
  {% if date > now %}
  <div>
    <h3>{{ page.title }}</h3>
    {{ page.content | safe }}
    📅 {{ page.date | date(format="%Y %b %e, %a", locale=trans(key="locale", lang=lang))}}
    {{ page.extra.start }}{% if page.extra.end is defined %}-{{ page.extra.end }}{% endif %}<br/>
    🗺️
    {% if page.extra.coords is defined %}
      <a href="{{page.extra.coords}}">{{page.extra.location}}</a>
    {% else %}
      {{ page.extra.location }}
    {% endif %}
  </div>
  <br/>
  {% endif %}
  {% endfor %}
  <h1><br/>{{ trans(key="previous", lang=lang) }}</h1>
  {% for page in section.pages %}
  {% set date = page.date ~ "T" ~ page.extra.start ~ ":00Z" | date(format="%s") | int() %}
  {% if date < now %}
  <div>
    {% if page.content %}
      <a href="{{ page.permalink | safe }}"><h3>{{ page.title }}</h3></a>
    {% else %}
      <h3>{{ page.title }}</h3>
    {% endif %}
    📅 {{ page.date | date(format="%Y %b %e, %a", locale=trans(key="locale", lang=lang))}}
    {{ page.extra.start }}{% if page.extra.end is defined %}-{{ page.extra.end }}{% endif %}<br/>
    🗺️
    {% if page.extra.coords is defined %}
      <a href="https://www.openstreetmap.org/directions?from=&to={{page.extra.coords}}">{{page.extra.location}}</a>
    {% else %}
      {{ page.extra.location }}
    {% endif %}
  </div>
  <br/>
  {% endif %}
  {% endfor %}
</main>
{% endblock content %}
