<a class="logo" href="{{ get_url(path="/", lang=lang)}}"><img src="{{ get_url(path="logo.svg") }}">{{config.title}}</a>
<nav>
  {%- for item in config.extra.nav %}
    <a class="nav-item" href="{{ get_url(path=item.url, lang=lang) }}">{{ trans(key=item.key, lang=lang) }}</a>
  {%- endfor %}
  {%- set language_agnostic_path = "/" ~ current_path | default(value="/") | replace(from='/' ~ lang ~ '/', to = '/') | trim_start_matches(pat = '/') -%}
  {%- for tr in config.extra.translations %}
    {%- if tr.code != lang %}
      <a class="nav-item" href="{{ get_url(path=language_agnostic_path, lang=tr.code) ~ "/" }}" hreflang="{{tr.code}}">{{tr.name}}</a>
    {%- endif %}
  {%- endfor %}
</nav>
