{% extends "base.html" %}

{% block title %}
{{ page.title }} • {{ config.title }}
{% endblock title %}

{% block content %}
<main>
  <h1>{{ config.description }}</h1>
  <h2>{{ page.extra.goals_text }}</h2>
  {{ page.extra.goals | safe }}
  <h2>{{ page.extra.people_text }}</h2>
  <div style="margin-bottom:20px;clear:both">
  {% for person in page.extra.people %}
    <div class="person text-center">
      <h2 id="{{ person.name }}">{{ person.name }}</h2>
      <img src="{{ get_url(path=person.photo) }}"/>
    </div>
    <div class="story">
      {{ person.story | safe }}
    </div>
    {% set n = page.extra.people | length %}
    {% if not loop.last %}
      <br><hr/><br>
    {% endif %}
  {% endfor %}
  </div>
  {{ page.content | safe }}
</main>
{% endblock content %}
